/*  index.css
    Arquivo de css, para manipulação da aparência das páginas de configuração e principal.
    Aqui você pode livremente alterar os temas, SEM ADICIONAR MAIS. O sistema é fechado e não irá carregar apenas colocando-o aqui.
*/

/*Aplicando estilo de fonte em todo o programa*/
body
{
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    /*Nova fonte 'Segoe UI' implementada na nova versão. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
}

/* Temas */
.theme-branco {
    background-color: #ffffff; /* Cor de fundo branco */
    color: #000; /* Cor do texto */
}

.theme-escuro {
    background-color: #333333; /* Cor de fundo escura */
    color: #fff;

    .window-name
    {
       color: black;
    }
}

.ensolarado {
    background-color: #FBAB7E;
    background-image: linear-gradient(10deg, #c87a4d 0%, #ffdf8e 100%);
    color: white;
    background-size: 200% 200%; /* Faz o gradiente maior que o elemento */
    animation: gradientMove 6s infinite ease-in-out;

    .window-name
    {
       color: black;
    }
}

.aurora-pastel {
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #c693f6 100%);
    color: #ffffff;
    background-size: 200% 200%;
    animation: gradientMove 6s infinite ease-in-out;

    .window-name
    {
       color: black;
    }
}

.carmesim-delicado {
    background-color: #FF9A8B;
    background-image: linear-gradient(50deg, #84382c 0%, #FF6A88 55%, #FF99AC 100%);
    color: white;
    background-size: 200% 200%;
    animation: gradientMove 6s infinite ease-in-out;
    
    .window-name
    {
       color: black;
    }
}

.verde-menta {
    background-color: #85FFBD;
    background-image: linear-gradient(0deg, #5fd496 0%, #e5ff7d 100%);
    background-size: 200% 200%;
    animation: gradientMove 6s infinite ease-in-out;

    .window-name
    {
       color: black;
    }
}



/*Configurações gerais de estilização dos botões da página*/
button
{
    background-color: #f1f1f1;
    border-radius: 0px;
    border: 1px solid gray;
}

/*Controle de hover de todos os botões MENOS os do título da janela.
*/
button:hover
{
    transition: all 0.05s ease-in-out;
    background-color: #e7e7e7;
    cursor: grab; 
}

/*Alterando apenas o estilo de borda do input*/
input
{
    border-radius: 0px;
    border: 1px solid gray;
}


/*Configurações do footer do programa, a barra de ferramentas*/
/*Decidi colocar um estilo mais limpo sem muitas distrações visuais*/
/*Implementado na versão 1.14.0*/
#footer-toolbar{
    position: fixed;
    height: 25px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    display: inline-flex;
   
}

#footer-toolbar button{
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
}

#footer-toolbar button img
{
    transition: all 0.2s ease-in-out;
    margin-top: 2px;
    opacity: 0.5;
}

#footer-toolbar button:hover img{
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

#footer-toolbar button:hover{
    transition: all 0.2s ease-in-out;
    background-color: rgb(231, 231, 231);
}